@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
html {
scroll-behavior: smooth;
}
nav{
    background: #504136;
    padding: 5px 30px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li{
    padding: 10px 0;
    cursor: pointer;
}
nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}
nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #B2E6D4;
    opacity: 0;
    transition: all 0.2s linear;
}
nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
} 
nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}
nav ul li:hover a{
    color: #B2E6D4;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/index_banner.jpg"); /* Imagen utilizada */
    background-color: #cccccc; /* Por si la imagen no carga */
    height: 90vh; /* Altura */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Que no se repita la imagen */
    background-size: cover; /* La imagen cubre todo el contenedor */
}
.banner h1 {
    font-size: 50px;
    color: #111010;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
}
.banner h3{
    font-size: 30px;
    color:#111010;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}